absl-py==2.1.0

appdirs==1.4.4

astunparse==1.6.3

atomicwrites==1.4.0

flatbuffers==25.2.10

gast==0.6.0

google-pasta==0.2.0

grpcio==1.70.0

jsonpointer==2.1

keras==3.8.0

libclang==18.1.1

lxml==5.2.1

matplotlib==3.9.2

mkl-service==2.4.1

ml-dtypes==0.4.1

namex==0.0.8

opencv-python==4.11.0.86

opt_einsum==3.4.0
optree==0.14.0

protobuf==4.25.3

pyasn1-modules==0.2.8

pyls-spyder==0.4.0

PyQt5==5.15.10

PyQtWebEngine==5.15.6


setuptools==75.1.0

tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0

wheel==0.44.0

gunicorn
